/* Contact Info */

.single-contact {
  float: left;
  position: relative;
  width: 25%;
}

.information h4 {
  font-size: 20px;
  font-weight: 400;
  position: relative;
  z-index: 2;
}

.information h4 span {
  color: #5e5e5e;
  font-weight: 700;
  padding-right: 10px;
}

.single-contact:after {
  background: #614a3d none repeat scroll 0 0;
  border-color: #614a3d;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
  content: "";
  height: 90px;
  left: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  position: absolute;
  top: 0;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2 ease 0s;
  width: 100%;
}

.single-contact:hover {
  border-color: #614a3d;
}

.single-contact:hover:after {
  opacity: 1;
  -ms-filter: "prodid:DXImageTransfrom.Microsoft.Alpha(Opacity=100)";
}

.information {
  border: 1px solid #eeeeee;
  padding: 28px 0;
}

.single-contact:hover .information h4,
.single-contact:hover .information h4 span {
  color: #fff;
  top: 3px;
}

/* About Area */

.about-text > h3 {
  color: #5e5e5e;
  font-family: "Courgette", cursive;
  margin-bottom: 21px;
  font-size: 36px;
}

.about-text > p:nth-child(2) {
  margin-bottom: 15px;
}
.about-text > p:nth-child(3) {
  margin-bottom: 46px;
}

.about-text {
  padding: 52px 0;
  position: relative;
  z-index: 2;
}

/* Special Area */

.special-area .container-fluid,
.image-area .container-fluid {
  padding-left: 5px;
  padding-right: 5px;
}

.special-item,
.single-image-item {
  float: left;
  width: 25%;
  padding-left: 5px;
  padding-right: 5px;
}

.item-content {
  position: relative;
}

.item-content img,
.single-image-item img {
  max-width: 100%;
}

.item-hover {
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
  bottom: 10px;
  height: auto;
  left: 10px;
  overflow: hidden;
  position: absolute;
  right: 10px;
  top: 10px;
  -webkit-transform: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  width: auto;
}

.item-content:hover .item-hover {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.hover-text > h1 {
  color: #fff;
  font-family: "Courgette", cursive;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 100%;
}

.item-content:hover .hover-text > h1 {
  top: 25%;
}

.hover-text > p {
  bottom: 28%;
  color: #fff;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  padding: 0;
  position: absolute;
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
  -webkit-transition: all 0.3s ease-in-out 0.1s;
  transition: all 0.3s ease-in-out 0.1s;
  left: 20px;
  right: 20px;
}

.hover.content:hover p {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.hover-text > h1:hover a {
  color: #be937b;
}

.hover-text {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.hover-text .price {
  bottom: 17%;
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 500;
  left: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  position: absolute;
  right: 0;
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
  -webkit-transition: all 0.3s ease-in-out 0.1s;
  transition: all 0.3s ease-in-out 0.1s;
}

.item-content:hover .price {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

/* Booking area */

.booking-form input {
  margin-bottom: 20px;
}

.booking-form input:focus {
  color: #614a3d;
  border-color: #614a3d;
}

.booking-form input:focus:-ms-input-placeholder {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  color: #614a3d;
}

.booking-form input:focus:-moz-placeholder {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  color: #614a3d;
}

.booking-form input:focus::-webkit-input-placeholder {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  color: #614a3d;
}

.booking-form .default-btn {
  margin-top: 20px;
  padding: 0 98px;
}

.active.day {
  background: #614a3d none repeat scroll 0 0;
  color: #fff;
}

.day {
  cursor: pointer;
  text-align: center;
}

.datepicker thead tr:nth-child(2) {
  background: #614a3d none repeat scroll 0 0;
  color: #fff;
  text-align: center;
}

.datepicker-switch {
  text-align: center;
}

.datepicker {
  padding: 0;
}

.date-wrapper .datepicker {
  padding: 0 17px;
}

.datepicker .prev,
.datepicker .next {
  cursor: pointer;
  font-size: 22px;
  padding: 0 8px;
}

/* Client Area */

.single-tesimonial > p {
  color: #dbdada;
  margin-bottom: 18px;
  padding: 0 20px;
}

.client-rating i {
  color: #fff;
  font-size: 18px;
  margin: 0 1px;
}

.single-tesimonial > h4 {
  color: #fff;
  font-weight: 500;
  margin-top: 12px;
}

.single-client {
  background: #fff none repeat scroll 0 0;
  display: table;
  height: 112px;
  text-align: center;
  width: 100%;
}

.single-client-container .col-md-4:nth-child(1),
.single-client-container .col-md-4:nth-child(2),
.single-client-container .col-md-4:nth-child(3) {
  margin-bottom: 32px;
}

.client-table-cell {
  display: table-cell;
  vertical-align: middle;
}

.single-client:hover {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.owl-dots {
  margin-top: 62px;
  text-align: center;
}
.owl-dot {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 2px solid #fff;
  border-radius: 50%;
  display: inline-block;
  height: 14px;
  margin: 0 6px;
  -webkit-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
  width: 14px;
  position: relative;
}

.owl-dot::after {
  background: #fff none repeat scroll 0 0;
  border-radius: 50%;
  content: "";
  height: 20px;
  left: -5px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  position: absolute;
  top: -5px;
  -webkit-transition: all 0.1s ease-out 0s;
  transition: all 0.1s ease-in-out 0s;
  width: 20px;
}

.owl-dot.active::after {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.testimonial-carousel {
  padding-top: 15px;
}

/* Menu Area */

.menu-area .section-title {
  margin-bottom: 79px;
}

.menu-image {
  margin-bottom: 17px;
  position: relative;
}

.menu-image img {
  max-width: 100%;
}

.menu-image > a {
  border: 1px solid #f1f1f1;
  display: block;
  position: relative;
}

.menu-image > span {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  color: #614a3d;
  display: block;
  font-size: 24px;
  font-weight: 500;
  height: 48px;
  line-height: 47px;
  margin: auto;
  position: relative;
  right: 0;
  top: -23px;
  width: 130px;
  z-index: 2;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.single-menu > h4 {
  color: #5e5e5e;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 9px;
}

.single-menu > span {
  display: block;
}

.single-menu h4:hover a {
  color: #614a3d;
}

.single-menu:hover .menu-image span {
  background: #614a3d none repeat scroll 0 0;
  color: #fff;
}

.col-md-3:nth-child(1) .single-menu,
.col-md-3:nth-child(2) .single-menu,
.col-md-3:nth-child(3) .single-menu,
.col-md-3:nth-child(4) .single-menu {
  margin-bottom: 63px;
}

.menu-area .default-btn {
  line-height: 42px;
  margin-top: 59px;
  padding: 0 37px;
}

.menu-btn,
.event-btn {
  line-height: 0;
  overflow: hidden;
}

.menu-section .col-md-3:nth-child(5) .single-menu,
.menu-section .col-md-3:nth-child(6) .single-menu,
.menu-section .col-md-3:nth-child(7) .single-menu,
.menu-section .col-md-3:nth-child(8) .single-menu {
  margin-bottom: 63px;
}
